{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock %}
{% block content %}
<div>
    {% if product.image != '' %}
        <img src="{{ product.image.url }}">
    {% else %}
        <img src="{% static 'images/no_image.png' %}">
    {% endif %}
    <h3>{{ product.name }}</h3>
    <h3>{{ product.price }}</h3>
    {% if product.slug in request.session.cart.products %}
        <button name="added_to_cart">Added to cart</button>
    {% else %}
        <form method="post" action="{% url 'carts:cart_add' product.slug %}">
            {% csrf_token %}
            <input type="hidden" name="last_url" value="{{ request.get_full_path }}" >
            <button name="buy" type="submit">Buy</button>
        </form>
    {% endif %}
</div>
{% endblock %}