{% extends 'base.html' %}
{% block title %}Make Order{% endblock %}
{% block content %}
<div>
    <div>
        {% for product in cart.cart.values %}
            <h3>{{ product.name }}, Price: {{ product.price }}, Quantity: {{ product.quantity }}</h3>
        {% empty %}
            <h3>You added nothing here yet</h3>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="make_order" type="submit">Make order</button>
    </form>
</div>
{% endblock %}